<div class="overall-course-progress">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
            {{progress}}%
        </div>
    </div>
</div>
